<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test  name="TestOrangeHRM">
  <parameter name="author" value="bhavanisatya"/>
    <classes>
      <class name="screenShotCapturingExtentReportday_06.testclassExtentFour"/>
      <methods>
      <include name="testorange"/>
      </methods>
    </classes>
  </test> <!-- Test -->
  <test name="TestGoogle">
  <parameter name="author" value="bhavanisatya"/>
    <classes>
      <class name="screenShotCapturingExtentReportday_06.testclassExtentFour"/>
      <methods>
      <include name="testgooglee"/>
      </methods>
    </classes>
  </test> <!-- Test -->
  <test  name="TestFaceBook">
  <parameter name="author" value="bhavanisatya"/>
    <classes>
      <class name="screenShotCapturingExtentReportday_06.testclassExtentFour"/>
      <methods>
      <include name="testfacebooks"/>
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
