<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>

<listener class-name="screenshotday_05.ITestListenerClass"/>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="screenshotday_05.testclass"/>
      <class name="screenshotday_05.testcase1"/>
      <methods>
      
      
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
